JWT_SECRET=your_super_secret_key
MONGO_URI=xxxxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxx


EMAIL_USER=xxxxxxxxxxxxxxxxxxxxxxxxxxx
EMAIL_PASS=xxxxxxxxxxxxxxxxxxxxxxxxxxx
FRONTEND_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxx


SUPABASE_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxx
SUPABASE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxx

ADMIN_EMAIL=xxxxxxxxxxxxxxxxxxxxx
GEMINI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxx